p, li {
    visibility: hidden;
    font-weight: 600;
}

ul {
    padding: 0;
    list-style-position: inside;
}

main img {
    display: block;
}

#b {
    position: absolute;
    top: 0;
    opacity: 0;
}

.wrapper {
  position: relative;
  max-width: 323px;
  margin: 0 auto 0 auto;
  clear: both;
}
